<!-- Fix me : group by job then country -->

<p-table *ngIf="users" [value]="users">
  <ng-template pTemplate="header">
    <tr>
      <th>ID</th>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Age</th>
      <th>State</th>
      <th>Action</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-user>
    <tr>
      <td>{{user.id}}</td>
      <td>{{user.firstName}}</td>
      <td>{{user.lastName}}</td>
      <td>{{user.birthDate}}</td>
      <td>{{user.status}}</td>
      <td><p-button label="Approuved" (click)="onApprouved(user.id)"></p-button></td>
    </tr>
  </ng-template>
</p-table>
