<p-treeTable [value]="files">
  <ng-template pTemplate="header">
    <tr>
      <th>ID</th>
      <th>FirstName</th>
      <th>LastName</th>
      <th>BirthDay</th>
      <th>Status</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
    <tr>
      <td>
        <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
        {{ rowData.name || rowData.id }}
      </td>
      <td>
        {{ rowData.firstName }}
      </td>
      <td>{{ rowData.lastName }}</td>
      <td>{{ rowData.birthDate }}</td>
      <td>
        <a (click)="onApprove(rowData.id)">
          <span [class]="'badge status-' + rowData.status?.toLowerCase()">{{rowData.status}}</span>
        </a>
      </td>
    </tr>
  </ng-template>
</p-treeTable>