.user-id {
  font-weight: 700 !important;
}

.badge.status-created {
  background-color: #b3e5fc;
  color: #23547b;
}

.badge.status-eartch_control {
  background-color: #eccfff;
  color: #694382;
}

.badge.status-mars_control {
  background-color: #ffd8b2;
  color: #805b36;
}

.badge.status-done {
  background-color: #c8e6c9;
  color: #256029;
}

.badge.status-refused {
  background-color: #ffcdd2;
  color: #c63737;
}
