<p-panel *ngIf="!currentUser">
  <form (ngSubmit)="onLogin()">
    <div class="p-field">
      <label for="firstname">Sign in to your space</label><br />
      <input id="firstname" pInputText [(ngModel)]="registrationId" name="registrationId" type="text" max="9"
        placeholder="Insert registration ID" required #fId="ngModel" />
      <div [hidden]="fId.valid || fId.pristine" class="alert alert-danger">
        Please insert your registration ID
      </div>
    </div>
    <button pButton pRipple label="Login" [disabled]="!fId.valid"></button>
  </form>
</p-panel>

<p-panel *ngIf="currentUser">
  Your ID : {{ currentUser.id }}<br />
  <ng-container [ngSwitch]="currentUser.status">
    <ng-container *ngSwitchCase="Status.CREATED">
      Please wait until administrator is reviewing your case
    </ng-container>
    <ng-container *ngSwitchCase="Status.EARTH_CONTROL">
      Please wait until EARTH administrator is reviewing your case
    </ng-container>
    <ng-container *ngSwitchCase="Status.MARS_CONTROL">
      Please wait until MARS administrator is reviewing your case
    </ng-container>
    <ng-container *ngSwitchCase="Status.DONE">
      Your registration is complete, thank you
    </ng-container>
    <ng-container *ngSwitchCase="Status.REFUSED">
      You are a criminal, do not move or our robot will atomize you :) <br />
      Keep calm and be a nice unicorn
    </ng-container>
  </ng-container>
</p-panel>