.footer {
  font-size: 11px;
  text-align: center;
  font-weight: 400;
}

.header {
  width: 60vw;
  margin: auto;
  margin-bottom: 2em;
}

.main {
  min-height: calc(85vh - 50px);
  width: 60vw;
  margin: auto;
}

.brand {
  display: inline-flex;
  padding-top: 15px;
}

.logo {
  height: 39px;
  width: 49px;
}

.title {
  margin: 5px 15px;
}

.nav-bar {
  display: block;
  background-color: rgba(38, 38, 38, 0.4);
  width: 100%;
  border-radius: 3px;
}
